/* ***** General **********  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #9356dc;
    --blue-color: #003a68;
    --lightbleu-color: #89c8fa;
    --green-color: #008766;
    --lightgreen-color: #99e2d0;
    --white-color: #fff;
    --grey-color: #eaeaea;
    --grey-bg-color: #f6f6f6;
    --padding-top: 2rem;
    --padding-bottom: 2rem;
}
body{
    font-family: "roboto", sans-serif;
    /* background: red; */
}
h2.Shrikhand{
    font-family: "Shrikhand", sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    /* background: yellow; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* max-width: 1440px;
    width: 100%; */
}
/* Mobile devices – 320px — 480px.
iPads, Tablets – 481px — 768px.
Small screens, laptops – 769px — 1024px.
Desktops, large screens – 1025px — 1200px.
Extra large screens, TV – 1201px, and more. */
/* mobile S */
/* @media (max-width: 320px) {
    .container {
        width: 296px;
    }
} */
/* mobile M */
/* @media (max-width: 375px) {
    .container {
        width: 351px;
    }
} */
/* mobile L */
/* @media (max-width: 425px) {
    .container {
        width: 393px;
    }
} */
/* tablette */
/* @media (max-width: 768px) {
    .container {
        width: 750px;
        background: #008766;
    }
} */
/* laptop */
/* @media (max-width: 992px) {
    .container {
        width: 970px;
    }
} */
/* laptop L */
/* @media(max-width: 1200px) {
    .container {
        width: 1170px;
    }
} */
/****** end General ***********/
nav,
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
}
.logo {
    width: 12.3rem;
    height: 2.25rem;
}
.location {
    background-color: var(--grey-color);
}
.hero{
    background:var(--grey-bg-color);
    text-align: center;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.btn{
    color: var(--white-color);
    border-radius: 1.5rem;
    border: none;
    background:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    padding: 1rem 2rem;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
}
.group{
    background-color: var(--grey-bg-color);
    border-radius: 1.25rem;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
    padding: 1rem; 
}

@media  (min-width: 320px) and (max-width: 425px){
    /*  mobile L & less home page */
    .container {
        min-width: 296px;
        /* max-width: 393px; */
    }
    /* fonctionnement */
    .fonction{
        background: var(--white-color);
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);
    }
    .groups{
        padding: 0 2rem 2rem;
    }
    /* .group{
        background-color: var(--grey-bg-color);
        border-radius: 1.25rem;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 2rem;
        padding: 1rem; 
    } */
    .group h4 > i{
        padding-right: 1.5rem;
        color: #7E7E7E;
        font-size: 1.4rem;
    }
    .group h4 > i:hover{
        color: var(--main-color);
    }
    .numero{
        position: absolute;
        top: 35%;
        left: -4%;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: var(--main-color);
        color: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 500;
    }
    /* restaurants */
    .restaurants{
        background: var(--grey-bg-color);
        padding-top: var(--padding-top);
        padding-bottom: var(--padding-bottom);
    }
    .carts{
        width: 100%; 
        padding-top: 1.5rem;
    }
    .cart{
       width: 100%; 
       background: var(--white-color);
       border-radius: .9rem;
       margin-bottom: 1rem;
       box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
       position: relative;
    }
    .cart-img{
        width: 100%;
        height: 14.4rem;
        object-fit: cover;
        border-radius: .9rem .9rem 0 0;
    }
    .badge{
        position: absolute;
        right: 10px;
        top: 10px;
        background: var(--lightgreen-color);
        color: var(--green-color);
        padding: 5px;
    }
    .img-detail{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .img-title > h3{
        padding-bottom: .5rem;
    }
    .favori i{
        font-size: 1.5rem;
        color: rgba(16, 16, 16, .7);
    }
    /* footer */
    footer{
        background: #353535;
        color: var(--white-color);
        padding: var(--padding-top) 0 var(--padding-bottom) 1rem;       
    }
    .foot-logo{
        margin-bottom: 1.5rem;
    }
    .main-footer li{
        margin-bottom: .8rem;
    }
    .main-footer li i{
        padding-right: 1rem;   
    }
    .main-footer a{
        color: var(--white-color);
        
    }
    /*end  home page mobile L & less end*****************/
    /* start  Pages  mobile L & less***************/

    .page-logo-img{
        width: 100%;
    }
    .page-img{
        top: -9px;
        width: 100%;
        height: 17.2rem;
        object-fit: cover;       
    }
    .page{
        position: relative;
        top: -3rem;
        background: var(--grey-bg-color);
        padding-top: var(--padding-top);
        border-radius: 2.5rem 2.5rem 0 0;
    }
    .menu{  
        width: 100%;   
    }
    .menu-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .6rem 0;
    }
    h3{
        font-size: 1.1rem;
    }
    .category{
        position: relative;
    }
    .category-text{
        font-size: 1em;
        font-weight: 300;
        text-transform: uppercase;
        margin: 2.5rem 0 1.5rem 0;
    }
    .category-text::after{
        content: "";
        position: absolute;
        width: 3rem;
        height: .18rem;
        background: var(--lightbleu-color);
        top: 1.2rem;
        left: 0;
    }
    .meal{
        border-radius: 1.25rem;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        margin-top: 1rem;
        padding: 1rem; 
    }
    .price{
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding-top: 8px;
    }
    .validate{
        display: flex;
        justify-content: center;
    }
    /* end  mobile L & less Pages*************** */
}
/* ************************ */
/* tablette et laptop  */
/* start  Home Pages   *****/
@media (min-width: 426px){
    .container{
        /* min-width: 394px; */
        max-width: 1440px;
        /* background: #3213cc; */
    }
    /* foctionnement */
    .groups{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .group{
        width: calc((100% / 3) - 2rem);
        background: #f6f6f6;
        box-shadow: 0px 4px 15px 0px #00000026;
        padding: 1.8rem;
        border-radius: 20px;
        position: relative;
    }
    .carts{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .cart{
        width: 50%;
        /* width: calc((100% / 2) - 2rem); */
        /* position: relative; */
        background-color: #003a68;
        /* background: var(--white-color); */
        box-shadow: 0px 4px 15px 0px #0000001A;
        border-radius: 15px 15px 0 0;
    }
    .cart-img{
        width: 100%;
        height: 231px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }
    .page-img{
        width: 100%;
        /* width: 31rem; */
        height: 14.4rem;
        object-fit: cover;       
    }

    /* footer{
        background: #353535;
        color: var(--white-color);
        padding: var(--padding-top) 0 var(--padding-bottom) 1rem;  
        
        
    }
    .main-footer{ 
        display:flex;
    } */
    /* end Home Pages   ****/

    /*start Pages *** */

    /*end  Pages ****/
} 
/* end tablette et laptop  */






/* header */
/* header{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 96px;
}
.logo{
    width: 200px;
    height: 35px;
}
.location{
    height: 50px;
    background-color: var(--grey-color);
    display: flex;
    align-items: center;
    justify-content: center; 
}
.hero{
    background-color: #f6f6f6;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    padding: 2rem 0;
}
h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
}
.header > p{
    padding: 1.5rem 0;
    color: #353535;
    font-size: 18px;
}
button[type="submit"]{
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    border: none;
    color: var(--white-color);
    padding: 13px 18px;
    border-radius: 20px;
    font-weight: 500;
    Line-height: 19px;
} */

/* fonctionnement */
/* .fonction{
    padding: 4rem 0;
}
.groups{
    display: flex;
    align-items: center;
    gap: 3rem;   
}
.group{
    width: calc((100% / 3) - 2rem);
    background: #f6f6f6;
    box-shadow: 0px 4px 15px 0px #00000026;
    padding: 1.8rem;
    border-radius: 20px;
    position: relative;
}
h4 > i {
    margin-right: 1rem;
    color: #7e7e7e;
    font-size: 18px;
}
.group > .numero{
    background: var(--main-color);
    color: var(--white-color);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -1rem;
} */
/* restaurant */
/* .restaurants{
    padding: 4rem 0;
    background: #f6f6f6;
}
.restaurants h2{
    margin-bottom: 2rem;
}
.carts{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
.cart{
    width: calc((100% / 2) - 4rem);
    position: relative;
    background: var(--white-color);
    box-shadow: 0px 4px 15px 0px #0000001A;
    border-radius: 15px 15px 0 0;
}
.badge{
    background: var(--lightgreen-color);
    color: #008766;
    width: 115px;
    padding: .5rem 0;
    box-shadow: 0px 2px 4px 0px #00000026;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.cart-img{
    width: 100%;
    height: 231px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.img-detail{
    display: flex;
    padding: 16px;
    position: relative;
}
.img-title > h3{
    margin-bottom: .6rem;
}
.favori{
    position: absolute;
    right: 2rem;
}
.favori > i {
    font-size: 1.5rem;
} */
/* footer */
/* footer{
    background-color: #353535;
}
.main-footer{
    color:var(--white-color);
    padding: 2.5rem 0 2rem 0;
    display: flex;
    flex-direction: row-reverse;
}
ul{
    display: flex;   
}
li{
    list-style: none;
}
li a{
    color: var(--white-color);
    padding-left: 2rem;
    text-decoration: none;
} */
