/* ***** General **********  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #9356dc;
    --blue-color: #003a68;
    --lightbleu-color: #99E2D0;
    --green-color: #008766;
    --lightgreen-color: #99e2d0;
    --white-color: #fff;
    --grey-color: #eaeaea;
    --grey-bg-color: #f6f6f6;
    --padding-top: 2rem;
    --padding-bottom: 2rem;
}
body{
    font-family: "roboto", sans-serif;
    /* background: red; */
}
.shrik-font{
    font-family: "Shrikhand", sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    /* background: yellow; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1440px; 
    width: 100%; 
}
/****** end General ***********/
nav,
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
}
.logo {
    width: 12.3rem;
    height: 2.25rem;
}
.location {
    background-color: var(--grey-color);
}
.hero{
    background:var(--grey-bg-color);
    text-align: center;
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.btn{
    color: var(--white-color);
    border-radius: 1.5rem;
    border: none;
    background:linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    padding: 1rem 2rem;
    font-size: 1em;
    font-weight: 500;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
}
.btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
}
/* fonctionnement */
.fonction{
    background: var(--white-color);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.groups{
    padding: 0 2rem 2rem;
}
.group{
    background-color: var(--grey-bg-color);
    border-radius: 1.25rem;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 2rem;
    padding: 1rem; 
}
.group h4 > i{
    color: #7E7E7E;
    font-size: 1.4rem;
    padding: 0 2rem;
}
.group h4 > i:hover{
    color: var(--main-color);
}
.numero{
    position: absolute;
    left: -2%;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
}
/* restaurants */
.restaurants{
    background: var(--grey-bg-color);
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.carts{
    width: 100%; 
    padding-top: 1.5rem;
}
.cart{
   width: 100%; 
   background: var(--white-color);
   border-radius: .9rem;
   margin-bottom: 1rem;
   box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
   position: relative;
}
.cart-img{
    width: 100%;
    height: 14.4rem;
    object-fit: cover;
    border-radius: .9rem .9rem 0 0;
}
.badge{
    position: absolute;
    right: 10px;
    top: 10px;
    background: var(--lightgreen-color);
    color: var(--green-color);
    padding: 5px;
}
.img-detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.img-title > h3{
    padding-bottom: .5rem;
}
.favori i{
    font-size: 1.5rem;
    color: rgba(16, 16, 16, .7);
}
/* footer */
footer{
    background: #353535;
    color: var(--white-color);
    padding: var(--padding-top) 0 var(--padding-bottom) 1rem;       
}
.foot-logo{
    margin-bottom: 1.5rem;
}
.main-footer li{
    margin-bottom: .8rem;
}
.main-footer li i{
    padding-right: 1rem;   
}
.main-footer a{
    color: var(--white-color);   
}
/* End Home page */

/* Start Pages */
.logo-title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
h1.shrik-font{
    padding: .7rem;
}
.logo-title > a{
    position: absolute;
    left: 0;
    font-size: 1.5rem;
}
.page-img{
    /* top: -9px; */
    width: 100%;
    height: 17.2rem;
    object-fit: cover;       
}
.page{
    position: relative;
    top: -3rem;
    background: var(--grey-bg-color);
    padding-top: var(--padding-top);
    border-radius: 2.5rem 2.5rem 0 0;
}
.menu{  
    width: 100%;   
}
.menu-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 0;
}
h3{
    font-size: 1.1rem;
}
.category{
    position: relative;
}
.category-text{
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    margin: 2.5rem 0 1.5rem 0;
}
.category-text::after{
    content: "";
    position: absolute;
    width: 2.5rem;
    height: .18rem;
    background: var(--lightbleu-color);
    top: 1.2rem;
    left: 0;
}
.meal{
    border-radius: 1.25rem;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    margin-top: 1rem;
    padding: 1rem; 
}
.price{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 8px;
}
.validate{
    display: flex;
    justify-content: center;
}
/* End Pages */

/* @media mobile */
@media (max-width: 767px){
    .container { 
        min-width: 296px; 
        /* max-width: 393px; */
    }   
}
/* tablette et laptop  */
/* @media (max-width: 1024px){ */
@media (min-width: 768px){
/* Home Page  */
    .groups{
        display: flex; 
        justify-content: space-between;
        gap: 1rem;
    }
    .group{
        /* width: 33%; */
        width: calc((100% / 3) - 2rem);
        text-align-last: center;
    }
    .group h4 > i{
        padding: 0 .7rem;
    }
    .numero{
        left: -5%;
    }
    .carts{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .carts > a{
        width:calc((100% / 2) - 1rem);
    }
    /* .main-footer{
        display: flex;
        flex-direction: row-reverse;
    } */
    .footer-link{
        display: flex;
    }
    .menu-title{
        justify-content: center;
    }
    .shrik-font{
        padding-right: 2rem;
    }
    .page{
        width: 80%;
        margin : auto;  
    }
    .menu{  
        width: 60%; 
        margin : auto;  
    }
}

/* animation-duration: 3s ; */
/* .main-loader{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .loader {
    display: inline-block;
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 80px;
  }
  .loader div {
    position: absolute;
    top: 33px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fcf;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .loader div:nth-child(1) {
    background-color: var(--main-color);
    left: 8px;
    animation: loader1 0.6s infinite;
  }
  .loader div:nth-child(2) {
    background-color: var(--lightbleu-color);
    left: 8px;
    animation: loader2 0.6s infinite;
  }
  .loader div:nth-child(3) {
    background-color: var(--grey-bg-color);
    left: 32px;
    animation: loader2 0.6s infinite;
  }
  .loader div:nth-child(4) {
    left: 56px;
    animation: loader3 0.6s infinite;
  }
  @keyframes loader1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes loader3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes loader2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  } */
  /* @keyframes main-loader{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
  } */
  /* @keyframes main-loader {
    0%{
        opacity:1;
    }
    100% {
      opacity: 0;
    }
  }  */
